a {
	color: black;
	text-decoration: none;
}

a:hover{ 
	color: #efa200;
	text-decoration: none;
}

.logo-text{
	font-family: 'Irish Grover', cursive;
	font-size: 55px;
}

#top-bar{
	color: black;

}

#contact-bar{
	background-color: black;
	background-image: url(http://bradjasper.com/subtle-patterns-bookmarklet/patterns/dark_brick_wall.png);
	background-size: auto;
	background-repeat: repeat repeat;
	margin-bottom:0px;
	margin-top:20px;
	padding-bottom: 20px;
	padding-top: 20px;
}

#contact-bar a {
	color: whitesmoke;
}

#contact-bar a:hover{ 
	color: #efa200;
	text-decoration: none;
}

.panel-default>.panel-heading{
	background-color: white;
/*	background-image: url(http://bradjasper.com/subtle-patterns-bookmarklet/patterns/gridme.png);
	background-size: auto;
	background-repeat: repeat repeat;*/
	color: black;
	text-align: center;
}

h1,h2,h3,h4,h5{
	font-family: 'Irish Grover', cursive;
}

body{
	background-image: url(http://bradjasper.com/subtle-patterns-bookmarklet/patterns/p6.png);
	background-size: auto;
	background-repeat: repeat repeat;
	font-size: 16px;
}

.v-center{
  
}


#main {
  margin: 30px 0;
  position: relative;
}

header h1 {
  text-align: center;
  font-size: 24px;
  font-weight: normal;
  margin: 30px 0 3px 0;
}

header p {
  text-align: center;
  font-size: 13px;
  color: #777;
  margin: 0;
}

/**
 * Grid container
 */
#tiles {
  list-style-type: none;
  position: relative; /** Needed to ensure items are laid out relative to this container **/
  margin: 0;
  padding: 0;
}

/**
 * Grid items
 */
#tiles li {
  width: 360px;
  background-color: #ffffff;
  border: 1px solid #dedede;
          border-radius: 2px;
     -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  display: none; /** Hide items initially to avoid a flicker effect **/
  cursor: pointer;
  padding: 4px;
  text-align: center;
}

#tiles li.inactive {
  visibility: hidden;
  opacity: 0;
}

#tiles li img {
  display: block;
}

/**
 * Grid item text
 */
#tiles li p {
  color: #666;
  font-size: 12px;
  margin: 7px 0 0 7px;
}

/**
 * Placerholder css
 */
.wookmark-placeholder {
          border-radius: 2px;
     -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  background-color: #eee;
  border: 1px solid #dedede;
  z-index: -1;
}

