{% extends "publishing/page.html" %}

{% block content %}

<div class="panel panel-default">
	<div class="panel-heading"><h2>{{ page.title }}</h2> <h3> Posted by {{page.author}} on {{ page.publish_date }} </h3></div>
	<div class="panel-body">
	    {{ page.get_html_content|safe }}
	</div>
</div>

{% endblock %}

