<!DOCTYPE html>
<html>
  <head>
    <title>Simple Publishing</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic' rel='stylesheet' type='text/css'>
    <link href="{{ STATIC_URL }}publishing/css/publishing.css" rel="stylesheet">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

    <script>
      {% load publishing_tags %}
      {% get_page_type_choices as page_type_choices %}
      var PUBLISHING_PAGE_TYPE_CHOICES = [
      {% for value, label in page_type_choices %}
        {value: '{{ value|escapejs }}', label: '{{ label|escapejs }}'}{% if not forloop.last %},{% endif %}
      {% endfor %}
      ];
      {% get_status_choices as status_choices %}
      var PUBLISHING_STATUS_CHOICES = [
      {% for value, label in status_choices %}
        {value: '{{ value|escapejs }}', label: '{{ label|escapejs }}'}{% if not forloop.last %},{% endif %}
      {% endfor %}
      ];
    </script>
    <script src="{{ STATIC_URL }}publishing/js/editor.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body></body>
</html>

