<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        {% block extra_meta %}{% endblock %}

        <!-- Bootstrap core CSS -->
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
        
        <!-- Custom styles for this template -->

        <!-- Turn this off in production -->
        <script src="{{ STATIC_URL }}js/less-1.5.0.min.js"></script>
        <link href="{{ STATIC_URL }}less/styles.less" rel="stylesheet/less" type="text/css" >
        <!-- End -->

        <!-- Turn this on in production -->
        <link href="{{ STATIC_URL }}css/styles.css" rel="stylesheet">
        <!-- End -->

        <link href="{{ STATIC_URL }}css/colorbox.css" rel="stylesheet">

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
          <script src="{{ STATIC_URL }}js/respond.min.js"></script>
        <![endif]-->
        
        {% block extra_head %}
        {% endblock %}
    </head>
    <body>

        <div class="container-full">

              <div id="top-bar" class="row">
               
                <div class="col-lg-12 text-center v-center">
                  
                  <h1 class="logo-text">Piemonster.me</h1>
                  <p class="lead">We build beautiful web applications.</p>
                  <img src="{{ STATIC_URL }}images/logo.png" alt="Piemonster Logo">
                  
                  
                  
                
                </div>
                
              </div> <!-- /row -->

              <br>
          
              
          
              

        </div> <!-- /container full -->

        <div class="container">
          
            

            
          
                <div class="row">
                    <div class="col-md-4">
                      <div class="panel panel-default">
                        <div class="panel-heading"><h2><a href="/people/"><i class="icon-group"></i> People -> </a></h2></div>
                        <div class="panel-body">
                            We are a group of digital professionals who joined forces to offer you a better service.
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                        <div class="panel panel-default">
                        <div class="panel-heading"><h2><a href="/projects/"><i class="icon-pencil"></i> Projects -> </a></h2></div>
                        <div class="panel-body">
                            Your project is in safe hands, here are some of the past projects we have been involved in. 
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                        <div class="panel panel-default">
                        <div class="panel-heading"><h2><a href="/blog/"><i class="icon-bullhorn"></i> Updates -> </a></h2></div>
                        <div class="panel-body">
                            Stay up-to-date with the latest projects, systems and technologies over at our blog.
                        </div>
                      </div>
                    </div>
                </div>
              
                
            
        </div>

        <div class="container">
          {% block content %}{% endblock %}
        </div>

        <div class="container-full" >
            <div id="contact-bar">
                <div class="container" class="row">
                 
                  <div id="phone" class="col-lg-4 text-center v-center" style="font-size:24pt;">
                    <a href="#">01273 782702</a> 
                  </div>

                  <div id="social-icons" class="col-lg-4 text-center v-center" style="font-size:39pt;">
                    <a href="https://plus.google.com/100227271668670753577"><i class="icon-google-plus"></i></a>  <a href="https://www.facebook.com/piemonster.me"><i class="icon-facebook"></i></a>   <a href="https://twitter.com/piemonsterme"><i class="icon-twitter"></i></a>  <a href="https://github.com/piemonster/"><i class="icon-github"></i></a> 
                  </div>

                  <div id="email" class="col-lg-4 text-center v-center" style="font-size:24pt;">
                    <a href="#">chris@piemonster.me</a> 
                  </div>

                </div>
            </div>
        </div>
        <a href="https://plus.google.com/100227271668670753577" rel="publisher" style="display: none;">Google+</a>
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
        <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
        <script src="{{ STATIC_URL }}js/global.js"></script>

        {% block extra_script %}
        {% endblock %}
    </body>
</html>
