{% extends "base.html" %}

{% block content %}
	<div class="panel panel-default">
        <div class="panel-heading"><h2><i class="icon-group"></i> {{ object.name }}</h2></div>
        <div id="main" role="main" class="panel-body" >
		      <ul id="tiles">
		          {% for i in "123" %}
		              
		                  <!-- These are our grid blocks -->
		                  <li>
		                    <a href="#">
		                      <img src="http://placehold.it/350x350" width="350" height="350">
		                    </a>
		                    
		                  </li>
		                  <!-- End of grid blocks -->
		                  
		          {% empty %}
		                  <p>No items.</p>
		          {% endfor %}
		      </ul>
        </div>
    </div>

    <a href="{% url 'project_list' %}">View other projects</a>

    
{% endblock %}

{% block extra_script %}

    <!-- Once the page is loaded, initalize the plug-in. -->
    <script type="text/javascript">
      (function ($){
        $('#tiles').imagesLoaded(function() {
          // Prepare layout options.
          var options = {
            autoResize: true, // This will auto-update the layout when the browser window is resized.
            container: $('#main'), // Optional, used for some extra CSS styling
            offset: 30, // Optional, the distance between grid items
            itemWidth: 340 // Optional, the width of a grid item
          };

          // Get a reference to your grid items.
          var handler = $('#tiles li');

          // Call the layout function.
          handler.wookmark(options);

        });
      })(jQuery);
    </script>
{% endblock %}