{% extends "base.html" %}

{% load floppyforms %}

{% block content %}
    <h1>Create/Update</h1>
    <form id="projectimage_form" method="post" action=".">
    {% csrf_token %}
    {% form form %}
    <input type="submit" value="Submit" class="btn btn-primary">
    </form>
{% endblock %}
