{% extends "base.html" %}

{% block content %}

    <div class="action-links">
      {% if request.user.is_superuser %}
        <a href="{% url 'project_create' %}">Create</a>
      {% endif %}
    </div>

    <div id="main" role="main">
    <ul id="tiles">
        {% for object in object_list %}
            
                <!-- These are our grid blocks -->
                <li>
                  <a href="{{object.get_absolute_url}}">
                    <img src="http://placehold.it/350x450" width="350" height="450">
                    <h3>{{ object.name }}</h3>
                  </a>
                  
                </li>
                <!-- End of grid blocks -->
                
        {% empty %}
                <p>No items.</p>
        {% endfor %}
    </ul>
    </div>

    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="{% url 'project_list' %}?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="{% url 'project_list' %}?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}


{% endblock %}

{% block extra_script %}

    <!-- Once the page is loaded, initalize the plug-in. -->
    <script type="text/javascript">
      (function ($){
        $('#tiles').imagesLoaded(function() {
          // Prepare layout options.
          var options = {
            autoResize: true, // This will auto-update the layout when the browser window is resized.
            container: $('#main'), // Optional, used for some extra CSS styling
            offset: 30, // Optional, the distance between grid items
            itemWidth: 360 // Optional, the width of a grid item
          };

          // Get a reference to your grid items.
          var handler = $('#tiles li');

          // Call the layout function.
          handler.wookmark(options);

        });
      })(jQuery);
    </script>
{% endblock %}
